{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
    
        h1
        {
            background-color: black;
            color: aliceblue;
            margin:0px;

        }
        body
        {
            text-align: center;
        }
        div
        {
            align-self: center;
            margin: 10px;
            padding: 5px;
        }
        form
        {
            padding: auto;
            border: solid ;
            
        }

    </style>
</head>
<body>
    <h1>HTML FORMS</h1>
        <form>
            <div>
                <!-- <fieldset> -->
                        <div>
                            <input type="text" placeholder="Enter username">
        
                        </div>
                        <div>
                            <input type="text" placeholder="Enter email">
        
                        </div>
                        <div>
                            <input type="password" placeholder="Enter password">
        
                        </div>
                        <div>
                            <input type="password" placeholder="re-enterpassword">
        
                        </div>
    
                <!-- </fieldset> -->
            </div>
            
            
        </form>
    
</body>
</html>